html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa; }

h1 { margin-top: 0; font-weight: 300; font-size: 2rem; }

.full-width { width: 100%; }

/* Customizing Material Table */
.mat-mdc-table {
  background: white;
}

.mat-mdc-row:hover {
  background-color: #f5f5f5;
}
